<template>

    <div class="slds-p-around_medium lgc-bg">

        <div class="slds-m-bottom_small">

            <lightning-button
                label="Collapse All"
                onclick={clickToCollapseAll}>
            </lightning-button>
            <lightning-button
                label="Expand All"
                onclick={clickToExpandAll}>
            </lightning-button>
          
        </div>
        <div class="slds-scrollable">
        <lightning-tree-grid columns = {gridColumns}
                                data = {gridData}
                                key-field = "Name"
                                hide-checkbox-column = true
                                onrowaction={handleRowAction}>
        </lightning-tree-grid>
    </div>
    </div>
  
</template>
